.images, 
.content {
  padding: 1rem 2rem;
  text-align: center;
  min-width: 39rem;
}

.images {
  width: 60%;
}
 
.content {
  width: 40%;
}

.images img {
  display: block;
  width: 100%;
}

.content a {
  margin: 1rem 3rem;
  display: inline-block;
}

.content a:hover,
.content a:focus {
  color: #56e9f3;
  transform: scale(1.1);
  transition: all .2s linear;
}

@media (max-width: 768px) {
  .images, 
.content {
  width: 95%;
  padding: 1rem;
}
}