.btn {
  padding: .8rem 1.5rem;
  font-weight: bold;
  color: #56e9f3;
  border: 2px #56e9f3 solid;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: none;
  cursor: pointer;
}

.btn:hover {
  color: #060527;
}

.btn::after {
  content: "";
  background: #56e9f3;
  position: absolute;
  z-index: -1;
  padding: .8rem 1.5rem;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}

.btn:hover::after {
  transform: scale(1, 1);
  transition: all 0.3s ease-out;
}